
.Upgrade_container{
    /* background: rgb(21,22,24); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    background: linear-gradient(115deg, rgba(21,22,24,1) 50%, rgba(210,42,199,1) 100%);
}
.logo{
    background: transparent;
    /* position: absolute; */
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.yt_premium{
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo_icon{
    
    margin-top: 104px;
    max-height: 40px;
    background: transparent;
}
.premium_Text{
    background: transparent;
    text-align: center;
    margin-top: 40px;
    font-family: "YouTube Sans", "Roboto", sans-serif;
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 700;
}
.get_music_premium{
    /* height: 40px; */
    /* width: 150px; */
    background: #6060ff;
    border-radius: 20px;
    padding: 8px 15px;
    display: flex;
    align-items: center;
 
}
.prices_Text{
    background: transparent;
    margin-bottom: 40px;
    
}
.save_money_Text{
    background: transparent;
    text-align: center;
    margin-top: 40px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1rem;
    line-height: 2.6rem;
    font-weight: 400;
}
.link-a{
    background: transparent;
    text-align: center;
    margin-top: 40px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 700;
    color: #3232b3;
}
.Restrictions_txt{
    background: transparent;
    font-size: 12px;
    font-weight: 400;
    color: #3232b3;
}
.first_poster{

   
    height: 150px;
    width: 100vw ;
   
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.headfon{
    height: max-content;
    bottom: 0;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Icon{
    height: 40px;
    width: 40px;
    margin-top: 2px;
    padding: 5px;
}

.second_poster{
    display: flex;
    justify-content: space-between;
}
.card3{
    
}
