.container{
    display: flex;
}

.Asidebar{
    height: 85vh;
    width: 20vw;
    position: fixed;
    top: 100px;
    border-right: 1px solid white;
}

.mainbar{
    width: calc(100vw - 22vw);
    position: absolute;
    left: 22vw;
    top: 110px;
}