.container{
    display: flex;
}

.Asidebar{
    height: 85vh;
    width: 20vw;
    position: fixed;
    top: 100px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.mainbar{
    width: calc(100vw - 24vw);
    position: absolute;
    left: 24vw;
    top: 110px;
}